/* Bartosz Zakrzewski August 2021 */

/* HEADER */

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  padding: 0 4.8rem !important;
  margin-top: 4.8rem;
  /* height: 9.6rem; */
  margin-bottom: 4.8rem;
}

.logo {
  text-align: center;
  text-transform: uppercase;
  justify-self: start;
}

.logo-top {
  font-size: 3.6rem;
  font-weight: 500;
}

.logo-bottom {
  font-size: 1.6rem;
  letter-spacing: 1.2px;
}

.logo .logo-link:link,
.logo .logo-link:visited,
.logo .logo-link:hover,
.logo .logo-link:active {
  color: inherit;
  text-decoration: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited,
.main-nav-link:hover,
.main-nav-link:active {
  display: inline-block;
  text-decoration: none;

  color: inherit;

  font-weight: 700;
  font-size: 1.4rem;
}

/* HERO SECTION */

.section-hero {
  padding: 4.8rem 0;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* Photos can be aligned like that, because it has display: inline; */
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 400;
  letter-spacing: -1.2px;
  line-height: 1.3;

  margin-bottom: 4.8rem;
}

.heading-primary--bottom {
  font-size: 6.2rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.hero-img {
  width: 70%;
}

/* ABOUT SECTION */

.section-about {
  margin-top: -18rem;
  padding: 4.8rem 0 9.6rem 0;
}

.about {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  align-items: center;
  justify-content: center;

  max-width: 140rem !important;
  /* about is also a container */
}

.about-text-box {
  background-color: #fff;
  border: 1.6rem solid #000;

  /* top, right, bottom, left */
  padding: 6.4rem 12.8rem 4.8rem 4.8rem;

  grid-row: 1;
  grid-column: 1 / 15;
}

.about-img-box {
  z-index: 1;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  grid-row: 1;
  grid-column: 14 / -1;
}

.about-img {
  width: 130%;
}

.header-about {
  font-weight: 600;
}

.about-description {
  font-size: 1.8rem;
  line-height: 1.8;

  margin-bottom: 2.4rem;
}

.about-description:nth-child(4) {
  margin-bottom: 9.6rem;
}

/* CALL TO ACTION SECTION */
/* Call to action section means section with button to Sign up - (most) important part of the website */
.section-cta {
  padding: 4.8rem 0 9.6rem 0;
}

.cta {
  background-color: #000;
  color: #fff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cta-text-box {
  display: grid;
  grid-template-columns: repeat(24, 1fr);

  text-align: center;
  padding: 4.8rem 0 4.8rem 0;
}

.cta-text {
  grid-column: 6 / 18;
}

.header-cta {
  font-weight: 500;
}

.cta-description {
  font-size: 1.8rem;
  line-height: 1.8;

  margin-bottom: 3.2rem;
}

.cta-form {
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-input {
  width: 50%;

  font-size: 1.6rem;
  font-family: inherit;

  border: none;

  padding: 1.2rem;
}

.cta-btn {
  display: block;
  /* width: 15%; */

  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;

  text-transform: uppercase;

  color: inherit;

  cursor: pointer;

  background-color: #888;
  border: none;

  padding: 1.2rem 2.4rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.gallery-img {
  width: 100%;
  display: block;
}

/* ABOUT SECTION */

.section-get-in-touch {
  padding: 4.8rem 0 9.6rem 0;
}

.get-in-touch {
  display: grid;
  grid-template-columns: 30fr 70fr;
  gap: 6.4rem;

  width: 120rem;
  margin: 0 auto;

  /* align-items: center; */
  /* justify-content: center; */
  /* justify-items: center; */

  font-size: 1.8rem;
}

.opening-hours {
  padding: 4.8rem;

  background-color: #000;
  color: #fff;
}

.address {
  margin-bottom: 4.8rem;
}

.day-of-the-week {
  margin-bottom: 3.2rem;
}

.day {
  display: block;
  margin-bottom: -1rem;
}

.contact {
  padding: 4.8rem;
}

.contact-link:link,
.contact-link:visited,
.contact-link:hover,
.contact-link:active {
  display: block;

  color: inherit;
  text-decoration: none;

  margin-bottom: 2.4rem;
}

.contact-link--email:link,
.contact-link--email:visited,
.contact-link--email:hover,
.contact-link--email:active {
  text-decoration: underline;
}

.contact-link--email:link {
  margin-bottom: 3.2rem;
}

.form-field {
  margin-bottom: 3.2rem;
}

.form-field:nth-child(4) {
  margin-bottom: 0;
}

.contact-label {
  display: block;
  font-weight: 500;

  margin-bottom: 0.8rem;
}

.contact-input {
  display: block;
  font-family: inherit;
  font-size: inherit;

  padding: 1.2rem;

  width: 80%;

  margin-bottom: 1.6rem;
}

.btn-container {
  width: 80%;
  display: grid;
  justify-content: end;
}

.btn-submit {
  display: inline-block;

  font-family: inherit;
  font-size: inherit;
  font-weight: 600;

  background-color: #000;
  color: #fff;

  border: none;

  padding: 1.2rem 3.2rem;
}

.btn-submit:hover {
  cursor: pointer;
}

/* FOOTER */
.footer {
  display: grid;

  padding: 9.6rem 0 6.4rem 0;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.footer-heading {
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
  font-weight: 500;
}

.socials {
  display: flex;
  gap: 0.8rem;
  justify-content: center;

  /* margin-bottom: 4.8rem; */
}

.footer-icon {
  height: 3.2rem;
  width: 3.2rem;

  color: #fff;
}

.footer-description {
  font-size: 1.2rem;
  background-color: #000;
  color: #fff;

  font-weight: 500;
  text-align: center;
  padding: 2.4rem;
}

/* CHANGING STYLES */
.change-style {
  position: absolute;
  top: 20rem;
  right: 5rem;

  width: 35rem;
  text-align: center;

  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;

  cursor: pointer;

  border: none;
  padding: 1.2rem 2.4rem;
}

.change-style--0 {
  top: 8rem;
}

.change-style--1 {
  top: 14rem;
}

.change-style--3 {
  top: 26rem;
}

.color-1 {
  color: #9f6243;
}

.color-2 {
  color: #01627f;
}

/* LINK TO GITHUB */
.github-link {
  position: absolute;
  top: 0;
  left: 0;
}

.github-icon {
  height: 4.8rem;
  width: 4.8rem;

  color: #000;
}
