* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  width: 95%;
  margin: 0 auto;
  margin-top: 40px;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  text-transform: uppercase;
}

h1 {
  font-weight: normal;
}

ul {
  list-style: none;
}

.logo {
}

.logo-top,
.logo-bottom {
  text-align: center;
}

.logo-top h1 {
  font-size: 44px;
}

.logo-bottom h1 {
  font-size: 18px;
  letter-spacing: 2.1px;
}

nav {
  justify-self: center;
}

nav ul {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  gap: 20px;
}
