* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;

  text-transform: uppercase;

  align-items: center;
  justify-content: center;

  /* width: 80%; */
}

h1 {
  font-weight: normal;
}

ul {
  list-style: none;
}

.logo {
  justify-self: start;
  flex: 1;
}

.logo-top,
.logo-bottom {
  text-align: center;
}

.logo-top h1 {
  font-size: 44px;
}

.logo-bottom h1 {
  font-size: 18px;
  letter-spacing: 2.1px;
}

nav {
  flex: 1;
}

nav ul {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
}
