* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main-header {
  width: 95%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 80px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  text-transform: uppercase;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style: none;
}

.logo {
  justify-self: start;
}

.logo-top,
.logo-bottom {
  text-align: center;
}

.logo-top h1 {
  font-size: 44px;
}

.logo-bottom h1 {
  font-size: 18px;
  letter-spacing: 2.2px;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;

  font-weight: bold;
  font-size: 14px;
}

.main-nav li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.logo:hover {
  cursor: pointer;
}

.logo a:link,
.logo a:visited,
.logo a:hover,
.logo a:active {
  color: #000;
  text-decoration: none;
}

.intro {
  text-align: center;
  line-height: 1.5;
}

.intro h2 {
  font-size: 36px;
  letter-spacing: 2px;
}

.intro h2:last-child {
  font-weight: bold;
  font-size: 40px;
}
